<ion-view view-title="Settings">
  <ion-content>
    <!-- Vehicle -->
    <div class="item item-divider">
      Vehicle
    </div>

    <!-- Icons -->
    <div class="row centered icon-settings">
      <div class="col">
        <i class="ion-model-s"></i>
      </div>
      <div class="col">
        <i class="ion-help"></i>
      </div>
    </div>

    <!-- Info message -->
    <div class="row centered padding">
      <div class="col">
        <p>You haven't written infos about your car</p>
      </div>
    </div>

    <!-- Buttons -->
    <div class="row centered padding">
      <div class="col">
        <button class="button button-balanced" ng-click="changeState('tab.vehicle')">
          Add my car
        </button>
      </div>
    </div>

    Current = {{currentData}}
  </ion-content>
</ion-view>