<ion-view view-title="Settings">
  <!-- Nav buttons -->
  <ion-nav-buttons side="secondary">
    <button class="button" ng-click="openVehicle()">
      Add car
    </button>
  </ion-nav-buttons>

  <ion-content>
    <!-- Information -->
    <div class="item item-divider">
      Information
    </div>

    <!-- Icons -->
    <div class="row centered icon-settings">
      <div class="col">
        <i class="ion-model-s"></i>
      </div>
      <div class="col">
        <i class="ion-help" ng-show="localVehicles == null"></i>
        <i class="ion-checkmark balanced" ng-show="localVehicles != null"></i>
      </div>
    </div>

    <!-- Info message -->
    <div class="row centered padding">
      <div class="col">
        <p ng-show="localVehicles == null">You haven't written infos about your car</p>
        <p ng-show="localVehicles != null">You have written infos about your car(s)</p>
      </div>
    </div>

    <!-- Vehicles -->
    <div class="item item-divider">
      Vehicles
    </div>

    <ion-list>
      <ion-item class="item" ng-repeat="vehicle in localVehicles">
      {{ vehicle.beacon }} - {{ vehicle.make }} {{ vehicle.model }}
      <ion-option-button class="button-assertive">
        &nbsp;<i class="icon ion-trash-a"></i>
      </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>