<ion-view view-title="Vehicle">
  <ion-content padding="true">

  <!-- Icon -->
    <div class="big-icon centered">
      <i class="ion-checkmark"></i>
      <p>Select a car</p>
    </div>

    <!-- Vehicles -->
    <div class="item item-divider">
      Vehicles
    </div>

    <ion-list>
      <ion-item class="item" ng-repeat="vehicle in localVehicles">
      {{ vehicle.beacon }} - {{ vehicle.make }} {{ vehicle.model }}
      <ion-option-button class="button-assertive">
        &nbsp;<i class="icon ion-trash-a"></i>
      </ion-option-button>
      </ion-item>
    </ion-list>

    <button class="button button-balanced button-full" ng-click="scan()" ng-disabled="{{isScanBtnDisabled}}">
      Park
    </button>

  </ion-content>
</ion-view>
