<ion-view view-title="Vehicle">
  <ion-content padding="true">

    <!-- Icon -->
    <div class="big-icon centered">
      <i class="ion-checkmark"></i>
      <p>Select a car</p>
    </div>

    <!-- Vehicles -->
    <div class="item item-divider">
      Vehicles
    </div>

    <ion-list>
      <!-- Items-->
      <ion-item class="item" ng-repeat="vehicle in localVehicles" ng-click="selectVechicle(vehicle)">
        {{ vehicle.beacon }} - {{ vehicle.make }} {{ vehicle.model }}
        <i class="balanced selectedBeacon icon ion-checkmark" ng-show="currentVehicle == vehicle"></i>
      </ion-item>

      <!-- Fake Vehicle -->
      <ion-item class="item" ng-click="selectVechicle(fakeVehicle)">
        {{ fakeVehicle.beacon }} - {{ fakeVehicle.make }} {{ fakeVehicle.model }}
        <i class="balanced selectedBeacon icon ion-checkmark" ng-show="currentVehicle == fakeVehicle"></i>
      </ion-item>

    </ion-list>

    <!-- Button -->
    <button class="button button-balanced button-full" ng-click="parkCar()" ng-disabled="currentVehicle == null">
      Park
    </button>

  </ion-content>
</ion-view>