/****************************
 * MAP
 ***************************/

.item-center {
  text-align:center;
}

.icon-position {
  font-size: 32px;
  color:#7f7f7f;
}

.scroll {
  height: 100%;
}
 
#map {
  width: 100%;
  height: 100%;
}

.vehicle {
  width: 70%;
}