<ion-tabs class="tabs-icon-top tabs-background-calm tabs-color-active-light">

  <!-- Map Tab -->
  <ion-tab title="Map" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <!-- Bluetooth Tab -->
  <ion-tab title="Bluetooth" icon-off="ion-ios-navigate-outline" icon-on="ion-ios-navigate" href="#/tab/bluetooth">
    <ion-nav-view name="tab-bluetooth"></ion-nav-view>
  </ion-tab>

  <!-- Information Tab -->
  <ion-tab title="Information" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/information">
    <ion-nav-view name="tab-information"></ion-nav-view>
  </ion-tab>


</ion-tabs>
