<ion-tabs class="tabs-icon-top tabs-background-calm tabs-color-active-light">

  <!-- Map Tab -->
  <ion-tab title="Map" icon-off="ion-location" icon-on="ion-location" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <!-- Parking Tab -->
  <ion-tab title="Parking" icon-off="ion-model-s" icon-on="ion-model-s" href="#/tab/parking">
    <ion-nav-view name="tab-parking"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-gear-a" icon-on="ion-gear-a" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
