<ion-view view-title="Disk">
  <ion-content>
    <div class="list">
      <!-- Setting -->
      <div class="item item-divider">
        Check validity
      </div>

      <div class="item range range-positive">
        <i class="icon ion-ios-timer-outline"></i>
        <input type="range" ng-model="time" min="0" max="100" value="33"><br>
        {{time}} m
      </div>

      <!-- Found -->
      <div class="item item-divider">
        Vehicle found
      </div>

      <div class="item item-icon-left valid">
        <div class="row">
          <div class="col col-75">
            <i class="icon ion-checkmark-circled"></i>
            Citroen Xsara<br>
            <span class="register-number">SPARK_ABC123</span>
          </div>
          <div class="col col-25 hour">
            + 01:05
          </div>
        </div>
      </div>

      <div class="item item-icon-left invalid">
        <div class="row">
          <div class="col col-75">
            <i class="icon ion-close-circled"></i>
            Citroen Picasso<br>
            <span class="register-number">SPARK_ABC123</span>
          </div>
          <div class="col col-25 hour">
            - 00:12
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
