<ion-view view-title="Area {{ fakeAreaId }}">

  <!-- Nav buttons -->
  <ion-nav-buttons side="secondary">
    <button class="button" ng-click="openClickMap()">
      Manually
    </button>
  </ion-nav-buttons>

  <!-- Content -->
  <ion-content>

    <div class="item item-divider">
      <button class="button button-block button-positive" ng-disabled="{{isScanBtnDisabled}}" ng-click="scan()">
        Scan
      </button>
    </div>

    <!-- p ng-disabled="{{isScanBtnDisabled}}" ng-click="scan()">scan</p> -->

    <div class="container align-center">
      <!-- Devices -->
      <div id="peripheral-list" ng-show="!scanning">
        <div class="list">
          <a class="item" ng-click="selectBeacon(device.name)" ng-repeat="device in fakeBeacons" ng-show="device != ''">
            <i class="fa fa-bluetooth"></i>
            {{device.name}}
            <i class="balanced selectedBeacon icon ion-checkmark" ng-show="beacon == device.name"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="item item-divider">
      Area
    </div>

    <div class="item item-divider">
      Other areas
    </div>


    {{parkEventsOrdered}}

  </ion-content>
</ion-view>
