<ion-modal-view>
  <ion-header-bar class="bar-calm">
    <button ng-click="closeSettings()" class="button back-button buttons button-clear header-item"><i class="icon ion-ios-arrow-back"></i>
      <span class="back-text"><span class="default-title hide">Back</span></span></button>
    <h1 class="title">Settings</h1>
  </ion-header-bar>

  <ion-content>

    <!-- Time input -->
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="number" ng-model="timeLimitForDisc" ng-change="saveTimeLimit(timeLimitForDisc)" placeholder="Parking time limit">
        </label>
        <p>
          &nbsp; in minutes
        </p>
      </div>
      <div class="item item-input-inset">
        <p>
          Time : {{ timeLimitForDisc }}
        </p>
      </div>
    </div>

    </div>
  </ion-content>
</ion-view>
