<ion-view view-title="Home" class="vertical">
  <ion-content padding="true">
    <!-- Logo -->
    <div class="row row-center">
      <div class="col col-center">
        <img src="img/logo.png" class="logo">
        <p class="italic">Unofficial logo</p>
      </div>
    </div>

    <!-- Space -->
    <div class="space"></div>

    <!-- Informative text -->
    <p>Please choose the type of area</p>

    <!-- Actions -->
    <div class="row row-center">
      <!-- Disc -->
      <div class="col col-center">
        <img src="img/disc.png" class="img-parking" ng-click="changeState('tab.disk')">
        <p>Parking disc</p>
      </div>
      <!-- Meter -->
      <div class="col col-center">
        <img src="img/meter.png" class="img-parking">
        <p>Parking meter</p>
      </div>
    </div>
  </ion-content>
</ion-view>
