<ion-view view-title="Disk">
  <ion-content>
    <div class="list">
      <!-- Setting -->
      <div class="item item-divider">
        Set time limit for parking area
      </div>
      <div class="item item-divider">
       <label class="item item-input">
         <input type="text" placeholder="Time limit">
       </label>
      </div>

      <div class="item item-divider">
       <button class="button button-light" ng-click="changeState('tab.scan')">
         OK
       </button>
      </div>

    </div>
  </ion-content>
</ion-view>
