<ion-view view-title="Information">
  <ion-content>
    <!-- Vehicle -->
    <div class="item item-divider">
      Vehicle
    </div>

    <div class="item item-body item-center">
      <img src="img/tesla.jpg" class="vehicle">
      <p>Tesla Model S</p>
    </div>

    <!-- Information -->
    <div class="item item-divider">
      Information
    </div>

    
    <li class="item item-toggle">
      GPS
      <label class="toggle toggle-calm">
        <input type="checkbox">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </li>

    <li class="item item-toggle">
      Voluntary participation
      <label class="toggle toggle-calm">
        <input type="checkbox">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </li>
    
    <!-- Settings -->
    <div class="item item-divider">
      Settings
    </div>

    <div class="item range">
      <i class="icon ion-volume-low"></i>
      <input type="range" name="volume">
      <i class="icon ion-volume-high"></i>
    </div>

  </ion-content>
</ion-view>