<ion-view view-title="Device">
  <ion-content padding="true">

    <!-- Icon -->
    <div class="big-icon centered">
      <i class="ion-card"></i>
      <p>Payment process</p>
    </div>

    {{meterInfo}}

    <!-- Meter informations -->
    <div class="list list-inset">
      <div class="item">
        Price : {{ meterInfo.price_per_hour }}€ / hour
      </div>
      <div class="item">
        Limit : {{ meterInfo.limit }} hour(s)
      </div>
      <div class="item">
        Resolution : {{ meterInfo.resolution }} minutes
      </div>
    </div>

    <button class="button button-calm button-full" ng-click="readData()">
      Read request
    </button>

    <button class="button button-balanced button-full" ng-click="disconnect()">
      Disconnect
    </button>

  </ion-content>
</ion-view>
